# local database(s)
data

# Project-related:
/python_envs/**/
**/logs/

# Python:
**/__pycache__/
**/*.egg-info/

# IDE:
.vscode/
.idea/

# notebooks
.ipynb_checkpoints/

# file types
*.pdf

# Invoice helper output
**/*output*/**
